<% @matches.each do |match| %>
  <p>Date: <%= match.date %></p>
  <p>Home Team: <%= match.home_team %></p>
  <p>Away Team: <%= match.away_team %></p>
  <p>Stadium: <%= match.stadium %></p>
  <hr>
<% end %>
